/* MOBILE FIRST */

.crear-stock-parrafo{
  margin:  10% 0;
}
.columnas{
  margin-top: 2%;
  font-size: 20px;
  font-weight: bold;
  color:#26677D; 
}
.btn-agregar-stock{
  padding: 2.5%;
  width: 100%;
  background-color: #26677D;
  color: white;
  border-style: none;
  margin-top: 3%;
  border-radius: 6px;
  font-weight: bolder;
  background-image: radial-gradient(circle at 59.86% 28.85%, #5a8c9d 0, #30758c 50%, #005e7b 100%);
}
@media(min-width:1000px){
  .crear-stock-parrafo{
    margin: 5%;
  }
  .btn-agregar-stock{
    padding: 1.5%;
    margin-bottom: 25%;
  }
}