@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@700&family=Josefin+Sans:ital,wght@0,600;1,300&family=Noto+Serif:wght@700&family=Raleway:ital,wght@0,500;1,200&family=Roboto:ital,wght@0,500;1,900&family=Ubuntu&display=swap');

.li-prod{
    list-style: none;
    font-size: 25px;
    font-weight: bolder;
    margin: 1% 0%; 
}
.img-productos{
    width: 95%;
    margin-left: 4%;
    border-radius: 10px;
    margin-bottom: 5%;
    margin-left: 7%;
    box-shadow: rgba(0, 0, 0, 0.2) 3px 6px 10px;
}
.product-title{
    width: 73%;
    border-radius: 10px;
}
.general-productos{
    margin-left: 10%;
    margin-bottom: 6%;
}
.hidden{display: none;
}
.titulojean{
  width: 65%;
  font-size: 35px;
  margin-top: 5%;
  font-family: roboto; 
}
.detalle-jean{
  font-size: 20px;
  
}
.btn-detallejean{
  padding: 4% 12%;
  background-color:white ;
  color: #2C94B5;
  font-weight: bolder;
  border-style: solid;
  margin-left:35%;
  border-color: #2C94B5;
  box-shadow: rgba(0, 0, 0, 0.2) 3px 6px 10px;
  margin-top:4% ;
  margin-bottom: 4%;
  font-family: roboto; 
}
.titulo-detallejean{
  font-size: 23px;
  font-weight: bolder;
  color: #2C94B5;
  margin-top: 3%;
  font-family: roboto; 
}
.talles-disp{
  color: grey;
  font-size: 16px;
  font-weight: bolder;
  font-style: italic;
}
.boton{
  font-size: 20px;
  padding-top: 6%;
  margin-bottom: 0;
}

@media (min-width: 1000px){
    .img-productos{
        width: 23%;
        margin: 2% 4%;
    }
    .general-productos{
        width: 95%; 
        margin-left: 2%;
        margin-bottom: 0;
        margin-right: 0%;
    }
   .product-title{
        margin: 0% 3%;
        width: 95%;
      }
    .hidden{
      display: inline-flex;
    }
    .titulojean{
      width: 45%;
      margin-top: 2%
    }
    .desktop-detalle{
      display: flex;
      width: 100%;
      margin-top: 2%;
     
    }
    .titulo-detallejean{
      margin-left: 4.2%;
      margin-top: .4%;
      font-size: 35px;
    }
    .btn-detallejean{
      padding: 35% 85%;
    } 
    .parrafo-detalledesktop{
      margin-left: 7.7%;
      width: 55%;
      margin-right: 2%;
      margin-top: .5%;
    }
    .top-h-prod{
      display: flex;
      margin-left: 3.5%;
    }
    .detalle-jean{
      width: 100%;
    }
    .precio{
      margin-top: 2.7%;
      margin-left: 38%;
      font-family: roboto; 
    }
   .boton{
    display: inline;
    margin-left: 5%;
    transition: all .3s ease;
   }
 }