 .icon {
  color: #F5F7EA; 
 
}
 .cantidad-productos{
    margin-left: 10%;
    color:#F5F7EA; 
    font-size: 17px;
    font-weight: bold;
    font-family: 'Ubuntu', sans-serif;
   
   
 }
 .cart-widget{
   width: 19%;
   
 }