 .icon {
  color: #E7E8E0; 
  font-size: 25px;
  
}
 .cantidad-productos{
    margin-left: 10%;
    color:#E7E8E0; 
    font-size: 14px;
    font-weight: bold;
    font-family: 'Ubuntu', sans-serif;
   
   
 }
 .cart-widget{
   width: 19%;
   
 }
 @media(min-width: 1000px){
  .cantidad-productos{
    font-size: 19px;
    margin-top: 100%;
  }
  .icon{
    font-size: 35px;
  }
 }