 .icon {
  color: #555650; 
 
}
 .cantidad-productos{
    margin-left: 50%;
    color:#555650; 
    font-size: 20px;
    font-weight: bold;
    font-family: 'Ubuntu', sans-serif;
 }
 .cart-widget{
   width: 10%;
   
 }