/* mobile first */
.cards-items{
    width: 95%;
    font-family: 'Ubuntu', sans-serif;
    background-color: #D8E691;
    
}
.general-container-item{
    
    background-color: #D8E691; 
    font-family: 'Ubuntu', sans-serif;
}
.ul-cards-items{
    padding: 6% 13%;
    width: 100%;
   
}
.item-container-titulo{
    color: white;
    font-weight: bold;
    padding: 2% 10%;
    font-family: 'Ubuntu', sans-serif;
}
.title-h2{
    color: #555650;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    margin-left: 10%;
}

/* desktop */
@media (min-width:1000px){

.ul-cards-items{
    display: grid;
    grid-template-columns: repeat(auto-fill, 400px);
    gap: 5%;
    padding-top: 2%;
}}