/* MOBILE FIRST */

.header-ecommerce{
    background-color:#30758C;
    font-family: 'Ubuntu', sans-serif;  
    flex-direction: column; 
}
.btn-menu{
    width: 100%;   
    background-color: #30758C;
    display: flex;
    justify-content: space-between;
}

.navbar-container{
    background-color: #30758C;
    width: 100%;
    font-size: 20px;
}
.ul-header{
    list-style: none;
 
}
.li-navbar{
    display: block;
    padding: 0 20px;
    
}
.linea-div{
  color: white;
  width: 100%;
}

.link{
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.link:hover { color:#E2E7BC} /* CSS link hover  */
.div{
    display: flex;
    width: 100%;   
}
.img-logo{
    margin-left: 3%;
    padding-bottom: 18%;
    width: 14%;
    display: none;
}
.p-logo{
  display: none;
}
/* .cart-widget{
    width: 9%;
  margin-bottom: 50%; 
    font-family: 'Ubuntu', sans-serif;
    position: absolute; 
    display: flex;
} */

.hide-menu {
  display: none;
}
.hid{
  font-size: 40px;
  margin-left: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.cart-mobile{
    margin-top: 2%;
    margin-right: 5%;
    
}

/* DESKTOP */

@media(min-width: 1000px){
  .hid{
      display: none;
  }
  .navbar-container{
      width: 30%;
      padding: 1%;
      padding-top: 2.3%;

  }
  .p-logo{
    display: flex;
    color: #E7E8E0;
  }
  .ul-header{
      display: flex;
      gap: 1%;
      justify-content: space-between;  
  }
  .img-logo{
      display: flex;
      padding-top: .7%;
      padding-bottom: .5%;
      margin-left: 62%;
      position: relative;
      color: #DFE5BF;
  }
  .cart-widget{
      margin-top: 9%;
      margin-left: 6%;
      display: flex;
  }
  .admin{
    display: none;
  }
  .link{
      color: white;
      font-size: 20px;
      text-decoration: none;
  }
  .linea-div{
    display: none;
  }
  .p-logo{
    font-family: roboto;
    font-size: 55px;
  }
  .cart-mobile{
    display: none
  }
}
   
