/* MOBILE FIRST */

.header-ecommerce{
    background-color:#E6C261;
    font-family: 'Ubuntu', sans-serif;  
    flex-direction: column; 
}
.btn-menu{
    width: 100%;   
    background-color: #D8E691;
   
    width: 100vw;
    
}

.navbar-container{
    background-color: #D8E691;
    width: 100%;
    font-size: 20px;
}
.ul-header{
    list-style: none;
 
}
.li-navbar{
    display: block;
    padding: 0 20px;
    
}
.linea-div{
  color: #DFE5BF;
  width: 100%;
}

.link{
    color: white;
    font-weight: bold;
}

.link:hover { color: #A7E0B6} /* CSS link hover (green) */
.div{
    display: flex;
    width: 100%;   
}
.img-logo{
    margin-left: 3%;
    padding-bottom: 8%;
}
.cart-widget{
    width: 8%;
    margin-top: 18%;
    font-family: 'Ubuntu', sans-serif;
    /* position: absolute; */
         
}
.hide-menu {
  display: none;
}
.hid{
  font-size: 40px;
  margin-left: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* DESKTOP */

@media(min-width: 1000px){
  .hid{
      display: none;
  }
  .navbar-container{
      width: 90%;
      padding: 1%;
      padding-top: 4%;
      
  }
  .ul-header{
      display: flex;
      gap: 7%;
      justify-content: space-between;  
  }
  .img-logo{
      padding-top: .5%;
      padding-bottom: 1%;
      margin-left: 20%;
      position: relative;
  }
  .cart-widget{
      margin-top: 6%;
      /* position: absolute; */
         
  }
  .link{
       color: white;
      font-size: 20px;
  }
}
   
