
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Ubuntu&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,900&family=Ubuntu&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&family=Roboto:ital,wght@0,500;1,900&family=Ubuntu&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@700&family=Raleway:wght@500&family=Roboto:ital,wght@0,500;1,900&family=Ubuntu&display=swap');


.producto-slide-1{
    background-image: url(./img/img2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 80%;
    padding: 5% 10%;
}
.p-producto{
    color: #000501;
    font-size: 30px;
    margin-top: 5%;
    font-weight: bold;
}
.btn-comprar{
    margin: 3% 25%;
    width: 50%;
    color: whitesmoke;  
    box-shadow: rgba(0, 0, 0, 0.2) 3px 6px 10px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Ubuntu', sans-serif; 
}
.girasol{
   width: 40px;
}
.h1-producto{
    color:#306536;
    opacity: 100%;
    /* font-family: 'Ubuntu', sans-serif; */
    font-weight: bold;
    font-size: 45px;
    
}

@media(min-width:1000px){
    .btn-comprar{
        margin-top: 7%;
        margin-bottom: 0;
        
    }
    .producto-slide-1{
        padding-top: 3%;

    }
}
