
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Ubuntu&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,900&family=Ubuntu&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&family=Roboto:ital,wght@0,500;1,900&family=Ubuntu&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@700&family=Raleway:wght@500&family=Roboto:ital,wght@0,500;1,900&family=Ubuntu&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Almarai:wght@700&family=Josefin+Sans:wght@600&family=Noto+Serif:wght@700&family=Raleway:wght@500&family=Roboto:ital,wght@0,500;1,900&family=Ubuntu&display=swap');
 
.producto-slide-1{
    background-image: url(./img/jeansvarios.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 80%;
    padding: 12% 10%;
    margin-top: 1%;
    
}
.p-producto{
    color: #000501;
    font-size: 28px;
    margin-top: 5%;
    font-weight: bold;
    font-family: 'Roboto';
}

.girasol{
   width: 40px;
}
.h1-producto{
    /* color:#D6C39B; */
    color:#F6F2ED;
    opacity: 100%;
    font-family: 'Almarai';
    font-weight: bold;
    font-size: 55px;
    width: 90%;
    background-color: #26677D;
    margin: 2%;
    margin-left: 10%;
    padding: 1.5%;
    padding-left: 15%;
}
.strong-titulo{
  color: black;
  font-size: 45px;
}

@media(min-width:1000px){
    .btn-comprar{
        margin-top: 7%;
        margin-bottom: 0;
        
    }
    .producto-slide-1{
        padding-top: 3%;

    }
    .h1-producto{
      padding-left: 27%;
      padding-top: 3%; 
      padding-bottom: 3%;
      margin-left: 6%;
    }
    
}
